# Ignore node_modules
vback/node_modules/
vfront/node_modules/

# Ignore build directories
vback/build/
vfront/build/

# Ignore environment files
vback/.env
vfront/.env

# Ignore logs
vback/logs/
vfront/logs/

# Ignore IDE specific files
.idea/
.vscode/

# Ignore OS specific files
.DS_Store
Thumbs.db
