.ThemeToggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    background: var(--inactive-toggle-components);
    box-shadow: 0px 4px 12px var(--shadow);

}

.Buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}

.Active{
    background-color: var(--active-toggle-components);
}

.Buttons svg{
    border-radius: 0px;
}

.ActiveSvg{
    width: 50%;
    height: 50%;
    fill: var(--active-toggle);  
}
.ActiveSvgStroke{
    width: 50%;
    height: 50%;
    fill: var(--active-toggle);
    stroke: var(--active-toggle); 
}
.InActiveSvg{
    width: 50%;
    height: 50%;
    fill: var(--inactive-toggle);
}
.InActiveSvgStroke{
    width: 50%;
    height: 50%;
    fill: var(--inactive-toggle);
    stroke: var(--inactive-toggle);
}

