.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 80px;
    background: var(--background-color-components1);
    font-weight: 600;
    font-size: 32px;
    color: var(--background-color-components2);
    box-shadow: 0px 4px 12px var(--shadow);
}


